@model CraftsPlanner.Models.ProjectGroup.PGroupDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PGroupDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PGroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PGroupId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.PGroupId }) |
    @*@Html.ActionLink("Back to Project Page", "Details", new { id = Model.ProjectId })*@
    @Html.ActionLink(linkText: "Back to Project", actionName: "Details", controllerName: "Project", htmlAttributes: null, routeValues: new { id = Model.ProjectId })
</p>
