@model CraftsPlanner.Models.CategoryGroup.CGroupDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CGroupDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CGroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories)
        </dd>

        @*@foreach (var item in Model.Categories)
        {
            <tr>
                <th>
                    @Html.DisplayFor(model => model.Categories)
                </th>

                <td>
                    @Html.DisplayNameFor(modelItem => item.CategoryName)
                </td>
            </tr>
        }*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
