@model CraftsPlanner.Models.Project.ProjectDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.ProjectId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectId)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

    </dl>
    <div class="accordion" id="accordionPanelsStayOpenExample">

        @for (int i = 0; i < Model.ProjectGroup?.Count; i++)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="accordion-@Model.ProjectGroup[i].PGroupId">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        @Html.ActionLink(linkText: Model.ProjectGroup[i].PGroupName, actionName: "Details", controllerName: "PGroup", htmlAttributes: null, routeValues: new { id = Model.ProjectGroup[i].PGroupId })

                    </button>
                </h2>
                <div id="panelsStayOpen-@Model.ProjectGroup[i].PGroupId" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-@Model.ProjectGroup[i].PGroupId">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            @*<dt>
                @Html.DisplayNameFor(model => model.ProjectGroup[i].PGroupName)
            </dt>*@

            <!--<dd>-->
                @*@Html.DisplayFor(model => model.ProjectGroup[i].PGroupName)*@
                <!--@Html.ActionLink(linkText: Model.ProjectGroup[i].PGroupName, actionName: "Details", controllerName: "PGroup", htmlAttributes: null, routeValues: new { id = Model.ProjectGroup[i].PGroupId })
            </dd>-->

        }
    </div>
    <p>
        @Html.ActionLink(linkText: "Add Project Group", actionName: "Create", controllerName: "PGroup", htmlAttributes: null, routeValues: new { ProjectId = Model.ProjectId })
    </p>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back", "Index")

</p>
