@model CraftsPlanner.Models.Project.ProjectDetail

@{
    ViewBag.Title = "Details";
}

<div>
    <h1>
        @Html.DisplayFor(model => model.ProjectName)
    </h1>
    <p style="float:right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ProjectId }) 
    </p>
    <h4>
        @Html.DisplayFor(model => model.Source)
    </h4>
    <hr />
</div>
<div>
    
    

    <p>
        @Html.ActionLink(linkText: "+List", actionName: "Create", controllerName: "PGroup", htmlAttributes: null, routeValues: new { ProjectId = Model.ProjectId })

    </p>
    <div class="accordion" id="accordionPanelsStayOpenExample">

        @for (int i = 0; i < Model.ProjectGroup?.Count; i++)
        {
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">

                    <span>@Html.ActionLink(linkText: Model.ProjectGroup[i].PGroupName, actionName: "Details", controllerName: "PGroup", htmlAttributes: null, routeValues: new { id = Model.ProjectGroup[i].PGroupId })</span>
                    <span style="float:right">
                        @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "PGroup", htmlAttributes: null, routeValues: new { ProjectId = Model.ProjectId, id = Model.ProjectGroup[i].PGroupId }) |
                        @Html.ActionLink(linkText: "Delete", actionName: "Delete", controllerName: "PGroup", htmlAttributes: null, routeValues: new { ProjectId = Model.ProjectId, id = Model.ProjectGroup[i].PGroupId }) |
                        @Html.ActionLink(linkText: "Add Element", actionName: "Create", controllerName: "Element", htmlAttributes: null, routeValues: new { ProjectId = Model.ProjectId, PGroupId = Model.ProjectGroup[i].PGroupId })
                    </span>

                </div>

                <!-- Table -->
                <table class="table-hover">
                    @for (int e = 0; e < Model.ProjectGroup[i]?.Elements?.Count; e++)
                    {
                        <tr>
                            @*<td>@Html.EditorFor(m => m.ProjectGroup[i].Elements[e].IsCompleted)</td>*@
                            <td>@Html.DisplayFor(m => m.ProjectGroup[i].Elements[e].ElementName)</td>
                            <td>@Html.DisplayFor(m => m.ProjectGroup[i].Elements[e].ElementDescription)</td>
                            <td style="float:right">
                                @Html.ActionLink(linkText: "Delete", actionName: "Delete", controllerName: "Element", htmlAttributes: null, routeValues: new { ProjectId = Model.ProjectId, id = Model.ProjectGroup[i].Elements[e].ElementId })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        }
    </div>
    <input type="submit" value="Save Changes" class="btn btn-default" style="float:right" />
    <br />
    <br />
    <p>
        @Html.ActionLink("Back", "Index")
    </p>
</div>


