@model IEnumerable<CraftsPlanner.Models.Project.ProjectListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Planner</h2>


<p>
    @Html.ActionLink("+New Project", "Create")
</p>
@*<p>
    @Html.ActionLink("Categories", "Index", "CategoryGroup")
</p>*@

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert=success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}


<div>
    <table class="table table-hover">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ProjectId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>@*Actions*@</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProjectId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    @Html.ActionLink("View", "Details", new { id = item.ProjectId })
                </td>
            </tr>
        }

    </table>
</div>
